%div
  %h1.font-bold.text-4xl Home#index
  %p Would you try one of those delicious meals?
  - @meals.each do |meal|
    %p meal.name
    %p meal.image
    %p meal.tags
  = form_tag meals_path, :method => :get do
    = text_field_tag :search, params[:search]
    = submit_tag "Search", name: nil, class: "btn btn-default"